openapi: 3.1.0
info:
  title: Monaco Public Accounts Users API
  description: Public API for Monaco
  version: 1.0.0
servers:
- url: https://api.monaco.com
tags:
- name: Users
paths:
  /v1/users/:
    get:
      tags:
      - Users
      summary: List Users
      description: Returns the users in the caller's organization. Pass the optional `query` parameter to filter by substring of name or email.
      operationId: list_users
      parameters:
      - name: query
        in: query
        required: false
        schema:
          anyOf:
          - type: string
          - type: 'null'
          description: Case-insensitive substring filter on name or email.
          title: Query
        description: Case-insensitive substring filter on name or email.
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicItemResponse_list_UserResponse__'
              example:
                data:
                - id: 550e8400-e29b-41d4-a716-446655440000
                  first_name: Jane
                  last_name: Smith
                  email: jane@acme.com
                meta:
                  timestamp: '2026-04-21T12:00:00Z'
        4XX:
          description: Client error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PublicErrorResponse'
components:
  schemas:
    UserResponse:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: Unique identifier of the user
        first_name:
          anyOf:
          - type: string
          - type: 'null'
          title: First Name
          examples:
          - Jane
        last_name:
          anyOf:
          - type: string
          - type: 'null'
          title: Last Name
          examples:
          - Smith
        email:
          anyOf:
          - type: string
          - type: 'null'
          title: Email
          examples:
          - jane@acme.com
      type: object
      required:
      - id
      title: UserResponse
    PublicItemResponse_list_UserResponse__:
      properties:
        data:
          items:
            $ref: '#/components/schemas/UserResponse'
          type: array
          title: Data
        meta:
          $ref: '#/components/schemas/ResponseMeta'
      type: object
      required:
      - data
      title: PublicItemResponse[list[UserResponse]]
    PublicErrorResponse:
      properties:
        error:
          $ref: '#/components/schemas/ErrorDetail'
      type: object
      required:
      - error
      title: PublicErrorResponse
    ResponseMeta:
      properties:
        timestamp:
          type: string
          format: date-time
          title: Timestamp
          description: Server timestamp of the response
      type: object
      title: ResponseMeta
    ErrorDetail:
      properties:
        code:
          type: string
          title: Code
          description: Machine-readable error code
          examples:
          - not_found
        message:
          type: string
          title: Message
          description: Human-readable error message
          examples:
          - Resource not found
      type: object
      required:
      - code
      - message
      title: ErrorDetail
