{"openapi":"3.1.0","info":{"title":"Monaco Public API","description":"Public API for Monaco","version":"1.0.0"},"servers":[{"url":"https://api.monaco.com"}],"paths":{"/v1/contacts/list":{"post":{"tags":["Contacts"],"summary":"List Contacts","description":"Returns a paginated list of contacts.","operationId":"list_contacts","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactListRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicListResponse_ContactResponse_"},"example":{"data":[{"id":"con_abc123","account_id":"acc_def456","first_name":"Jane","last_name":"Smith","email":"jane@acme.com","title":"VP of Engineering","phone_number":"+1-555-123-4567","linkedin_url":"https://linkedin.com/in/janesmith","location":"San Francisco, CA","source":"api","do_not_contact":false,"notes":"Met at SaaStr 2025","scoring":{"heat_score":"Hot"},"tags":["Decision Maker"],"created_at":"2025-06-15T10:30:00Z","updated_at":"2025-06-16T10:30:00Z","custom_field_1a2b3c4d-5e6f-4a7b-8c9d-0e1f2a3b4c5d":"buyer","custom_field_2b3c4d5e-6f7a-4b8c-9d0e-1f2a3b4c5d6e":"2026-04-18"}],"pagination":{"page":1,"page_size":50,"total_count":87,"total_pages":2},"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/contacts/":{"put":{"tags":["Contacts"],"summary":"Upsert a Contact","description":"Creates a new contact or updates an existing one.\n\n**Identifiers** — either `email` or `linkedin_url` **must** be provided. If only `linkedin_url` is supplied, you must also provide `account_id` or `domain` so the contact can be associated with an account.\n\n**Duplicate resolution** — the request is matched against existing contacts in the org in this order: (1) exact match on `email` (case-insensitive), then (2) exact match on `linkedin_url`. If a match is found, that contact is updated in place with the provided fields and returned; otherwise a new contact is created. Unlike `POST /contacts`, no 409 is raised on a duplicate identifier — the existing record is updated instead.\n\n**Account resolution priority** — when creating a new contact, Monaco resolves the contact's account in this order:\n1. `account_id` (if provided)\n2. `domain` (if provided)\n3. the domain parsed from `email`\n\n**Enrichment** — when this call creates a new contact (no existing match), Monaco synchronously enriches the contact and, if needed, resolves or creates the associated account. This can make those requests take several seconds to complete; clients should use generous timeouts (10s+) and avoid issuing upserts on hot paths.\n\nAny `tags` list provided is **appended** to the existing tags on the contact.","operationId":"upsert_contact","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactCreateRequest"},"examples":{"complete":{"summary":"Upsert contact with every field","value":{"email":"jane@acme.com","linkedin_url":"https://linkedin.com/in/janesmith","first_name":"Jane","last_name":"Smith","title":"VP of Engineering","phone_number":"+1-555-123-4567","location":"San Francisco, CA","account_id":"550e8400-e29b-41d4-a716-446655440000","domain":"acme.com","do_not_contact":false,"tags":["550e8400-e29b-41d4-a716-446655440001"],"custom_field_1a2b3c4d-5e6f-4a7b-8c9d-0e1f2a3b4c5d":"economic_buyer"}}}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_ContactResponse_"},"example":{"data":{"id":"con_abc123","account_id":"acc_def456","first_name":"Jane","last_name":"Smith","email":"jane@acme.com","title":"VP of Engineering","phone_number":"+1-555-123-4567","linkedin_url":"https://linkedin.com/in/janesmith","location":"San Francisco, CA","source":"api","do_not_contact":false,"notes":"Met at SaaStr 2025","scoring":{"heat_score":"Hot"},"tags":["Decision Maker"],"created_at":"2025-06-15T10:30:00Z","updated_at":"2026-04-21T12:00:00Z","custom_field_1a2b3c4d-5e6f-4a7b-8c9d-0e1f2a3b4c5d":"economic_buyer"},"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}},"post":{"tags":["Contacts"],"summary":"Create a Contact","description":"Creates a new contact.\n\n**Identifiers** — either `email` or `linkedin_url` **must** be provided. If only `linkedin_url` is supplied, you must also provide `account_id` or `domain` so the contact can be associated with an account.\n\n**Account resolution priority** — Monaco resolves the contact's account in this order:\n1. `account_id` (if provided)\n2. `domain` (if provided)\n3. the domain parsed from `email`\n\n**Enrichment** — on creation, Monaco synchronously enriches the contact (name, title, company association, etc.) and, if needed, resolves or creates the associated account. This can make create requests take several seconds to complete; clients should use generous timeouts (10s+) and avoid issuing creates on hot paths.","operationId":"create_contact","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactCreateRequest"},"examples":{"complete":{"summary":"Create contact with every field","value":{"email":"jane@acme.com","linkedin_url":"https://linkedin.com/in/janesmith","first_name":"Jane","last_name":"Smith","title":"VP of Engineering","phone_number":"+1-555-123-4567","location":"San Francisco, CA","account_id":"550e8400-e29b-41d4-a716-446655440000","domain":"acme.com","do_not_contact":false,"tags":["550e8400-e29b-41d4-a716-446655440001"],"custom_field_1a2b3c4d-5e6f-4a7b-8c9d-0e1f2a3b4c5d":"economic_buyer"}}}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_ContactResponse_"},"example":{"data":{"id":"con_abc123","account_id":"acc_def456","first_name":"Jane","last_name":"Smith","email":"jane@acme.com","title":"VP of Engineering","phone_number":"+1-555-123-4567","linkedin_url":"https://linkedin.com/in/janesmith","location":"San Francisco, CA","source":"api","do_not_contact":false,"notes":"Met at SaaStr 2025","scoring":{"heat_score":"Hot"},"tags":[],"created_at":"2026-04-21T12:00:00Z","updated_at":"2026-04-21T12:00:00Z","custom_field_1a2b3c4d-5e6f-4a7b-8c9d-0e1f2a3b4c5d":"economic_buyer"},"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/contacts/{contact_id}":{"patch":{"tags":["Contacts"],"summary":"Update a Contact","description":"Updates an existing contact by its `contact_id`. Any `tags` list provided **replaces** the existing tags on the contact.","operationId":"update_contact","parameters":[{"name":"contact_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Contact Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ContactUpdateRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_ContactResponse_"},"example":{"data":{"id":"con_abc123","account_id":"acc_def456","first_name":"Jane","last_name":"Smith","email":"jane@acme.com","title":"VP of Engineering","phone_number":"+1-555-123-4567","linkedin_url":"https://linkedin.com/in/janesmith","location":"San Francisco, CA","source":"api","notes":"Met at SaaStr 2025","do_not_contact":false,"scoring":{"heat_score":"Hot"},"tags":["Decision Maker"],"created_at":"2025-06-15T10:30:00Z","updated_at":"2026-04-21T12:00:00Z","custom_field_1a2b3c4d-5e6f-4a7b-8c9d-0e1f2a3b4c5d":"economic_buyer"},"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}},"get":{"tags":["Contacts"],"summary":"Get a Contact","description":"Gets a single contact by its `contact_id`. The detail response includes scoring, source attribution, and custom fields.","operationId":"get_contact","parameters":[{"name":"contact_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Contact Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_ContactResponse_"},"example":{"data":{"id":"con_abc123","account_id":"acc_def456","first_name":"Jane","last_name":"Smith","email":"jane@acme.com","title":"VP of Engineering","phone_number":"+1-555-123-4567","linkedin_url":"https://linkedin.com/in/janesmith","location":"San Francisco, CA","source":"linkedin","do_not_contact":false,"notes":"Met at SaaStr 2025","scoring":{"heat_score":"Hot"},"tags":["Interested","Decision Maker"],"created_at":"2025-06-15T10:30:00Z","updated_at":"2025-06-16T10:30:00Z","custom_field_1a2b3c4d-5e6f-4a7b-8c9d-0e1f2a3b4c5d":"economic_buyer","custom_field_2b3c4d5e-6f7a-4b8c-9d0e-1f2a3b4c5d6e":"2026-04-18"},"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}},"delete":{"tags":["Contacts"],"summary":"Delete a Contact","description":"Deletes a contact by its `contact_id`. Returns 204 No Content on success. This is irreversible.","operationId":"delete_contact","parameters":[{"name":"contact_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Contact Id"}}],"responses":{"204":{"description":"Contact deleted"},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/accounts/list":{"post":{"tags":["Accounts"],"summary":"List Accounts","description":"Returns a paginated list of accounts.","operationId":"list_accounts","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountListRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicListResponse_AccountResponse_"},"example":{"data":[{"id":"acc_abc123","name":"Acme Corp","status":"active","owner":{"id":"usr_abc123","first_name":"Jane","last_name":"Smith"},"notes":"Key enterprise prospect","company":{"domain":"acme.com","linkedin_url":"https://linkedin.com/company/acme","description":"Enterprise software company specializing in AI-driven sales tools","employee_count":250,"founded_year":2019,"industries":["Software","Artificial Intelligence"],"total_funding_usd":50000000.0,"last_funding_date":"2024-03-15"},"scoring":{"tier":"A","heat_score":"Hot"},"tags":["Enterprise","High Priority"],"created_at":"2025-06-15T10:30:00Z","updated_at":"2025-06-16T10:30:00Z","custom_field_7a1c9e2b-3f4d-4a8e-9b1c-2d3e4f5a6b7c":"high","custom_field_8b2d1f3c-4e5a-4b9f-ac2d-3e4f5a6b7c8d":"2026-09-30"}],"pagination":{"page":1,"page_size":50,"total_count":142,"total_pages":3},"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/accounts/":{"put":{"tags":["Accounts"],"summary":"Upsert an Account","description":"Creates a new account or updates an existing one. `domain` is required and is used as the primary identifier for matching.\n\n**Duplicate resolution** — the request is matched against existing accounts in the org by exact match on `domain`. If a match is found, that account is updated in place with the provided fields and returned; otherwise a new account is created (a company record for the domain must exist in our data sources).\n\n**Enrichment** — on creation, Monaco synchronously enriches the account with company firmographic data (industry, employee count, funding, etc.). This can make create requests take several seconds to complete; clients should use generous timeouts (10s+) and avoid issuing creates on hot paths.\n\nAny `tags` list provided is **appended** to the existing tags on the account.","operationId":"upsert_account","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountUpsertRequest"},"examples":{"complete":{"summary":"Upsert account with every field","value":{"domain":"acme.com","linkedin_url":"https://linkedin.com/company/acme","name":"Acme Corp","status":"NEW","notes":"Key enterprise prospect","owner":"550e8400-e29b-41d4-a716-446655440000","tags":["550e8400-e29b-41d4-a716-446655440001"],"custom_field_7a1c9e2b-3f4d-4a8e-9b1c-2d3e4f5a6b7c":"high"}}}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_AccountResponse_"},"example":{"data":{"id":"acc_abc123","name":"Acme Corp","status":"NEW","owner":{"id":"usr_abc123","first_name":"Jane","last_name":"Smith"},"notes":"Key enterprise prospect","company":{"domain":"acme.com","linkedin_url":"https://linkedin.com/company/acme","description":"Enterprise software company specializing in AI-driven sales tools","employee_count":250,"founded_year":2019,"industries":["Software","Artificial Intelligence"],"total_funding_usd":50000000.0,"last_funding_date":"2024-03-15"},"scoring":{"tier":"A","heat_score":"Hot"},"tags":["Enterprise"],"created_at":"2025-06-15T10:30:00Z","updated_at":"2025-06-15T10:30:00Z","custom_field_7a1c9e2b-3f4d-4a8e-9b1c-2d3e4f5a6b7c":"high"},"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/accounts/{account_id}":{"patch":{"tags":["Accounts"],"summary":"Update an Account","description":"Updates an existing account by its `account_id`. Any `tags` list provided **replaces** the existing tags on the account.","operationId":"update_account","parameters":[{"name":"account_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Account Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AccountUpdateRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_AccountResponse_"},"example":{"data":{"id":"acc_abc123","name":"Acme Corp","status":"PROSPECTING","owner":{"id":"usr_abc123","first_name":"Jane","last_name":"Smith"},"notes":"Key enterprise prospect","company":{"domain":"acme.com","linkedin_url":"https://linkedin.com/company/acme","description":"Enterprise software company specializing in AI-driven sales tools","employee_count":250,"founded_year":2019,"industries":["Software","Artificial Intelligence"],"total_funding_usd":50000000.0,"last_funding_date":"2024-03-15"},"scoring":{"tier":"A","heat_score":"Hot"},"tags":["Enterprise","High Priority"],"created_at":"2025-06-15T10:30:00Z","updated_at":"2026-04-21T12:00:00Z","custom_field_7a1c9e2b-3f4d-4a8e-9b1c-2d3e4f5a6b7c":"high"},"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}},"get":{"tags":["Accounts"],"summary":"Get an Account","description":"Gets a single account by its `account_id`. The detail response includes enriched company information, scoring, and custom fields.","operationId":"get_account","parameters":[{"name":"account_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Account Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_AccountResponse_"},"example":{"data":{"id":"acc_abc123","name":"Acme Corp","status":"active","owner":{"id":"usr_abc123","first_name":"Jane","last_name":"Smith"},"notes":"Key enterprise prospect","company":{"domain":"acme.com","linkedin_url":"https://linkedin.com/company/acme","description":"Enterprise software company specializing in AI-driven sales tools","employee_count":250,"founded_year":2019,"industries":["Software","Artificial Intelligence"],"total_funding_usd":50000000.0,"last_funding_date":"2024-03-15"},"scoring":{"tier":"A","heat_score":"Hot"},"tags":["Enterprise","High Priority"],"created_at":"2025-06-15T10:30:00Z","updated_at":"2025-06-16T10:30:00Z","custom_field_7a1c9e2b-3f4d-4a8e-9b1c-2d3e4f5a6b7c":"high","custom_field_8b2d1f3c-4e5a-4b9f-ac2d-3e4f5a6b7c8d":"2026-09-30","custom_field_9c3e2a4d-5f6b-4cad-bd3e-4f5a6b7c8d9e":125000},"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}},"delete":{"tags":["Accounts"],"summary":"Delete an Account","description":"Deletes an account by its `account_id`. Returns 204 No Content on success. This is irreversible — associated contacts and opportunities are not deleted but may become unlinked.","operationId":"delete_account","parameters":[{"name":"account_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Account Id"}}],"responses":{"204":{"description":"Account deleted"},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/opportunities/list":{"post":{"tags":["Opportunities"],"summary":"List Opportunities","description":"Returns a paginated list of opportunities.","operationId":"list_opportunities","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OpportunityListRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicListResponse_OpportunityResponse_"},"example":{"data":[{"id":"opp_abc123","account_id":"acc_def456","name":"Acme Corp - Enterprise License","owner":{"id":"usr_abc123","first_name":"Jane","last_name":"Smith"},"stage":"negotiation","estimated_value":{"currency_code":"USD","amount":5000000},"estimated_close_date":"2025-09-30","actual_close_date":"2025-10-15","summary":"Enterprise deal with strong champion. Procurement review in progress.","risks":["Budget constraints","Competing vendor evaluation"],"notes":"Follow up after Q3 board meeting","tags":["High Priority"],"last_activity_at":"2025-08-20T14:30:00Z","updated_at":"2025-08-21T14:30:00Z","created_at":"2025-06-01T09:00:00Z","custom_field_550e8400-e29b-41d4-a716-446655440001":"outbound","custom_field_6ba7b810-9dad-11d1-80b4-00c04fd430c8":"commit"}],"pagination":{"page":1,"page_size":50,"total_count":34,"total_pages":1},"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/opportunities/{opportunity_id}":{"get":{"tags":["Opportunities"],"summary":"Get an Opportunity","description":"Gets a single opportunity by its `opportunity_id`. The detail response includes the AI-generated summary, identified risks, and custom fields.","operationId":"get_opportunity","parameters":[{"name":"opportunity_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Opportunity Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_OpportunityResponse_"},"example":{"data":{"id":"opp_abc123","account_id":"acc_def456","name":"Acme Corp - Enterprise License","owner":{"id":"usr_abc123","first_name":"Jane","last_name":"Smith"},"stage":"negotiation","estimated_value":{"currency_code":"USD","amount":5000000},"estimated_close_date":"2025-09-30","actual_close_date":"2025-10-15","summary":"Enterprise deal with strong champion. Procurement review in progress.","risks":["Budget constraints","Competing vendor evaluation"],"notes":"Follow up after Q3 board meeting","tags":["High Priority"],"last_activity_at":"2025-08-20T14:30:00Z","updated_at":"2025-08-21T14:30:00Z","created_at":"2025-06-01T09:00:00Z","custom_field_550e8400-e29b-41d4-a716-446655440001":"outbound","custom_field_6ba7b810-9dad-11d1-80b4-00c04fd430c8":"commit","custom_field_f47ac10b-58cc-4372-a567-0e02b2c3d479":"Initech"},"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}},"patch":{"tags":["Opportunities"],"summary":"Update an Opportunity","description":"Updates an existing opportunity by its `opportunity_id`. Any `tags` list provided **replaces** the existing tags on the opportunity.","operationId":"update_opportunity","parameters":[{"name":"opportunity_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Opportunity Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OpportunityUpdateRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_OpportunityResponse_"},"example":{"data":{"id":"opp_abc123","account_id":"acc_def456","name":"Acme Corp - Enterprise License","owner":{"id":"usr_abc123","first_name":"Jane","last_name":"Smith"},"stage":"closed_won","estimated_value":{"currency_code":"USD","amount":5000000},"estimated_close_date":"2025-09-30","actual_close_date":"2025-10-15","summary":"Enterprise deal with strong champion. Procurement review in progress.","risks":["Budget constraints","Competing vendor evaluation"],"notes":"Follow up after Q3 board meeting","tags":["High Priority"],"last_activity_at":"2025-08-20T14:30:00Z","custom_field_550e8400-e29b-41d4-a716-446655440001":"outbound","updated_at":"2026-04-21T12:00:00Z","created_at":"2025-06-01T09:00:00Z"},"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}},"delete":{"tags":["Opportunities"],"summary":"Delete an Opportunity","description":"Deletes an opportunity by its `opportunity_id`. Returns 204 No Content on success. This is irreversible.","operationId":"delete_opportunity","parameters":[{"name":"opportunity_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Opportunity Id"}}],"responses":{"204":{"description":"Opportunity deleted"},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/opportunities/":{"post":{"tags":["Opportunities"],"summary":"Create an Opportunity","description":"Creates a new opportunity associated with an existing account. Pass an `idempotency_key` to safely retry creation.","operationId":"create_opportunity","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OpportunityCreateRequest"},"examples":{"complete":{"summary":"Create opportunity with every field","value":{"name":"Acme Corp - Enterprise License","account_id":"550e8400-e29b-41d4-a716-446655440000","owner_user_id":"550e8400-e29b-41d4-a716-446655440001","stage":"negotiation","estimated_value":{"currency_code":"USD","amount":5000000},"estimated_close_date":"2025-09-30","notes":"Follow up after Q3 board meeting","tags":["550e8400-e29b-41d4-a716-446655440002"],"idempotency_key":"550e8400-e29b-41d4-a716-446655440003","custom_field_550e8400-e29b-41d4-a716-446655440001":"outbound"}}}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_OpportunityResponse_"},"example":{"data":{"id":"opp_abc123","account_id":"acc_def456","name":"Acme Corp - Enterprise License","owner":{"id":"usr_abc123","first_name":"Jane","last_name":"Smith"},"stage":"negotiation","estimated_value":{"currency_code":"USD","amount":5000000},"estimated_close_date":"2025-09-30","risks":[],"notes":"Follow up after Q3 board meeting","tags":[],"updated_at":"2026-04-21T12:00:00Z","created_at":"2026-04-21T12:00:00Z","custom_field_550e8400-e29b-41d4-a716-446655440001":"outbound"},"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/tasks/list":{"post":{"tags":["Tasks"],"summary":"List Tasks","description":"Returns a paginated list of tasks.","operationId":"list_tasks","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicListRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicListResponse_TaskResponse_"},"example":{"data":[{"id":"tsk_abc123","account_id":"acc_def456","opportunity_id":"opp_ghi789","title":"Send follow-up proposal","description":"Send the updated pricing proposal to the procurement team","task_type":"General Action Item","assignee":{"id":"usr_abc123","first_name":"Jane","last_name":"Smith"},"status":"To Do","due_at":"2025-07-01T17:00:00Z","created_at":"2025-06-15T10:30:00Z","updated_at":"2025-06-16T10:30:00Z"}],"pagination":{"page":1,"page_size":50,"total_count":58,"total_pages":2},"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/tasks/{task_id}":{"get":{"tags":["Tasks"],"summary":"Get a Task","description":"Gets a single task by its `task_id`.","operationId":"get_task","parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Task Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_TaskResponse_"},"example":{"data":{"id":"tsk_abc123","account_id":"acc_def456","opportunity_id":"opp_ghi789","title":"Send follow-up proposal","description":"Send the updated pricing proposal to the procurement team","task_type":"General Action Item","assignee":{"id":"usr_abc123","first_name":"Jane","last_name":"Smith"},"status":"Done","due_at":"2025-07-01T17:00:00Z","completed_at":"2025-06-28T11:00:00Z","created_at":"2025-06-15T10:30:00Z","updated_at":"2025-06-28T11:00:00Z","message_draft":{"recipients":[{"name":"Jane Smith","email":"jane@acme.com"}],"cc":[{"name":"John Doe","email":"john@acme.com"}],"subject":"Pricing follow-up","body":"Hi Jane, following up on the proposal we discussed..."}},"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}},"patch":{"tags":["Tasks"],"summary":"Update a Task","description":"Updates an existing task by its `task_id`. Marking a task as `DONE` or `CANCELLED` sets `completed_at`; moving out of those states clears it. Updating `account_id` is only supported for manually created tasks.","operationId":"update_task","parameters":[{"name":"task_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Task Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskUpdateRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_TaskResponse_"},"example":{"data":{"id":"tsk_abc123","account_id":"acc_def456","title":"Send follow-up proposal","description":"Send the updated pricing proposal to the procurement team","task_type":"General Action Item","assignee":{"id":"usr_abc123","first_name":"Jane","last_name":"Smith"},"status":"Done","due_at":"2025-07-01T17:00:00Z","completed_at":"2025-06-28T11:00:00Z","created_at":"2025-06-15T10:30:00Z","updated_at":"2025-06-28T11:00:00Z","message_draft":{"recipients":[{"name":"Jane Smith","email":"jane@acme.com"}],"cc":[{"name":"John Doe","email":"john@acme.com"}],"subject":"Pricing follow-up","body":"Hi Jane, following up on the proposal we discussed..."}},"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/tasks/":{"post":{"tags":["Tasks"],"summary":"Create a Task","description":"Creates a new task.\n\nTasks can be associated with an account (via `account_id`) and/or an opportunity (via `opportunity_id`). If no `assignee_id` is provided, the task is assigned to the caller.","operationId":"create_task","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TaskCreateRequest"},"examples":{"complete":{"summary":"Create task with every field","value":{"title":"Send follow-up proposal","description":"Send the updated pricing proposal to the procurement team","account_id":"550e8400-e29b-41d4-a716-446655440000","opportunity_id":"550e8400-e29b-41d4-a716-446655440001","task_type":"EMAIL","assignee_id":"550e8400-e29b-41d4-a716-446655440002","due_at":"2025-07-01T17:00:00Z","message_draft":{"recipients":[{"name":"Jane Smith","email":"jane@acme.com"}],"cc":[{"name":"John Doe","email":"john@acme.com"}],"subject":"Pricing follow-up","body":"Hi Jane, following up on the proposal we discussed..."}}}}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_TaskResponse_"},"example":{"data":{"id":"tsk_abc123","account_id":"acc_def456","title":"Send follow-up proposal","description":"Send the updated pricing proposal to the procurement team","task_type":"General Action Item","assignee":{"id":"usr_abc123","first_name":"Jane","last_name":"Smith"},"status":"To Do","due_at":"2025-07-01T17:00:00Z","created_at":"2026-04-21T12:00:00Z","updated_at":"2026-04-21T12:00:00Z"},"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/tags/":{"get":{"tags":["Tags"],"summary":"List Tags","description":"Returns every tag defined for the object type given by the required `object` query parameter (one of `contacts`, `accounts`, `opportunities`).","operationId":"list_tags","parameters":[{"name":"object","in":"query","required":true,"schema":{"$ref":"#/components/schemas/TagObject","description":"Object type to list tags for"},"description":"Object type to list tags for"}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_list_TagResponse__"},"example":{"data":[{"id":"550e8400-e29b-41d4-a716-446655440000","name":"Enterprise","color":"blue"}],"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}},"post":{"tags":["Tags"],"summary":"Create a Tag","description":"Creates a new tag for the `object` given in the request body. Tag names must be unique per object type within the organization.","operationId":"create_tag","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagCreateRequest"},"examples":{"complete":{"summary":"Create a tag with every field","value":{"object":"accounts","name":"Enterprise","color":"blue"}}}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_TagResponse_"},"example":{"data":{"id":"550e8400-e29b-41d4-a716-446655440000","name":"Enterprise","color":"blue"},"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/tags/{tag_id}":{"get":{"tags":["Tags"],"summary":"Get a Tag","description":"Gets a single tag by its `tag_id`.","operationId":"get_tag","parameters":[{"name":"tag_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Tag Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_TagResponse_"},"example":{"data":{"id":"550e8400-e29b-41d4-a716-446655440000","name":"Enterprise","color":"blue"},"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}},"patch":{"tags":["Tags"],"summary":"Update a Tag","description":"Updates a tag's `name` and/or `color` by its `tag_id`. The object type of a tag cannot be changed.","operationId":"update_tag","parameters":[{"name":"tag_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Tag Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TagUpdateRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_TagResponse_"},"example":{"data":{"id":"550e8400-e29b-41d4-a716-446655440000","name":"Strategic Enterprise","color":"purple"},"meta":{"timestamp":"2026-04-22T09:30:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}},"delete":{"tags":["Tags"],"summary":"Delete a Tag","description":"Deletes a tag by its `tag_id`. The tag is removed from all entities it was applied to. Returns 204 No Content on success. This is irreversible.","operationId":"delete_tag","parameters":[{"name":"tag_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Tag Id"}}],"responses":{"204":{"description":"Tag deleted"},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/meetings/list":{"post":{"tags":["Meetings"],"summary":"List Meetings","description":"Returns a paginated list of meetings.","operationId":"list_meetings","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicListRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicListResponse_MeetingResponse_"},"example":{"data":[{"id":"mtg_abc123","account_id":"acc_abc123","opportunity_id":"opp_abc123","title":"Discovery Call","description":"Initial discovery call with Acme","start_time":"2026-03-01T10:00:00Z","end_time":"2026-03-01T10:30:00Z","meeting_platform":"Zoom","meeting_url":"https://zoom.us/j/123456789","organizer":{"email":"jane@acme.com","display_name":"Jane Smith"},"attendees":[{"email":"john@acme.com","display_name":"John Doe","response_status":"accepted"}],"next_actions":["Send pricing proposal by Friday","Schedule technical deep-dive"],"created_at":"2026-03-01T09:00:00Z","updated_at":"2026-03-01T09:30:00Z"}],"pagination":{"page":1,"page_size":50,"total_count":12,"total_pages":1},"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/meetings/{meeting_id}":{"get":{"tags":["Meetings"],"summary":"Get a Meeting","description":"Gets a single meeting by its `meeting_id`. The detail response includes the AI-generated summary, a presigned video URL, and the full transcript with speaker attribution.","operationId":"get_meeting","parameters":[{"name":"meeting_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Meeting Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_MeetingDetailResponse_"},"example":{"data":{"id":"mtg_abc123","account_id":"acc_abc123","opportunity_id":"opp_abc123","title":"Discovery Call","description":"Initial discovery call with Acme","start_time":"2026-03-01T10:00:00Z","end_time":"2026-03-01T10:30:00Z","meeting_platform":"Zoom","meeting_url":"https://zoom.us/j/123456789","organizer":{"email":"jane@acme.com","display_name":"Jane Smith"},"attendees":[{"email":"john@acme.com","display_name":"John Doe","response_status":"accepted"}],"next_actions":["Send pricing proposal by Friday","Schedule technical deep-dive"],"meeting_summary":"Discovery call with Acme. Strong interest in enterprise tier, budget confirmed for Q3.","video_url":"https://monaco-recordings.s3.amazonaws.com/...","transcript":[{"speaker":"Jane Smith","language":"en","words":[{"text":"Thanks","start_timestamp":0.5,"end_timestamp":0.9},{"text":"everyone","start_timestamp":1.0,"end_timestamp":1.5}]}],"created_at":"2026-03-01T09:00:00Z","updated_at":"2026-03-01T09:30:00Z"},"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/sequences/list":{"post":{"tags":["Sequences"],"summary":"List Sequences","description":"Returns a paginated list of sequences.","operationId":"list_sequences","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicListRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicListResponse_SequenceResponse_"},"example":{"data":[{"id":"seq_abc123","contact_id":"con_def456","name":"Enterprise Onboarding","description":"Multi-touch onboarding sequence for enterprise accounts","status":"started","template_id":"seqt_789ghi","created_at":"2026-01-15T10:30:00Z","updated_at":"2026-05-10T14:22:00Z","last_interaction":"Email today","enqueued_at":"2026-01-16T09:00:00Z","started_at":"2026-01-16T09:05:00Z","responded_at":"2026-01-20T11:30:00Z","meeting_booked_at":"2026-01-22T15:00:00Z","sender_id":"usr_jkl012","sender_name":"Alex Rivera"}],"pagination":{"page":1,"page_size":50,"total_count":142,"total_pages":3},"meta":{"timestamp":"2026-05-11T17:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/sequences/{sequence_id}":{"get":{"tags":["Sequences"],"summary":"Get a Sequence","description":"Gets a single sequence by its `sequence_id`. The detail response includes the sequence's ordered list of tasks.","operationId":"get_sequence","parameters":[{"name":"sequence_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Sequence Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_SequenceDetailResponse_"},"example":{"data":{"id":"seq_abc123","contact_id":"con_def456","name":"Enterprise Onboarding","description":"Multi-touch onboarding sequence for enterprise accounts","status":"started","template_id":"seqt_789ghi","created_at":"2026-01-15T10:30:00Z","updated_at":"2026-05-10T14:22:00Z","tasks":[{"id":"tsk_abc123","sequence_id":"seq_abc123","order":1,"name":"Send linkedin connection request","type":"auto_linkedin_connection","status":"completed","scheduled_at":"2025-10-14T23:36:09+00:00","completed_at":"2025-10-13T22:40:17.862589+00:00","task_body":"<p>Some message</p>","outcome":"accepted"}]},"meta":{"timestamp":"2026-05-11T17:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}},"patch":{"tags":["Sequences"],"summary":"Update a Sequence","description":"Applies a state transition to a sequence (see the `action` field for valid values and their meanings). Returns the refreshed sequence representation, including its tasks.","operationId":"update_sequence","parameters":[{"name":"sequence_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Sequence Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateSequenceRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_SequenceDetailResponse_"},"example":{"data":{"id":"seq_abc123","contact_id":"con_def456","name":"Enterprise Onboarding","description":"Multi-touch onboarding sequence for enterprise accounts","status":"started","template_id":"seqt_789ghi","created_at":"2026-05-18T10:30:00Z","updated_at":"2026-05-18T10:35:00Z","tasks":[]},"meta":{"timestamp":"2026-05-18T10:35:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}},"404":{"description":"Sequence not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}},"409":{"description":"Invalid state transition","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/sequence-templates":{"get":{"tags":["Sequence Templates"],"summary":"List Sequence Templates","description":"Returns the list of sequence templates available to the authenticated organization.","operationId":"list_sequence_templates","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_list_SequenceTemplateResponse__"},"example":{"data":[{"id":"seqt_abc123","name":"Enterprise Onboarding","description":"Multi-touch onboarding sequence for enterprise accounts","status":"active","owner_id":"usr_abc123","is_default":false,"created_at":"2026-01-15T10:30:00Z","updated_at":"2026-05-10T14:22:00Z"}],"meta":{"timestamp":"2026-05-11T17:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}},"post":{"tags":["Sequence Templates"],"summary":"Create a Sequence Template","description":"Creates a new sequence template. The template is created as a USER_GENERATED template.\n\nSupply `steps` (ordered by `index`), `transitions`, and `blocks` together; see each field's schema for its shape and allowed values. A step references a block via a `[[block:<id>]]` marker in its `message`/`subject`, and a `transition` links steps by `index` sequentially or on a branch. Example:\n\n{\"steps\": [{\"index\": 1, \"day\": 0, \"hour\": 9, \"type\": \"auto_email\", \"subject\": \"Quick question\", \"message\": \"<p>Hi {{recipient.first_name}} [[block:intro]]</p>\"}, {\"index\": 2, \"day\": 2, \"hour\": 9, \"type\": \"auto_linkedin_connection\", \"message\": \"Let's connect\"}], \"transitions\": [{\"from_step_index\": 1, \"to_step_index\": 2, \"transition_type\": \"PREVIOUS_STEP_COMPLETES\"}], \"blocks\": {\"intro\": {\"name\": \"Intro\", \"block_type\": \"MANUAL\", \"content\": \"...\"}}}\n\nTemplate variables must be namespaced. Supported tokens are `{{recipient.first_name}}`, `{{recipient.last_name}}`, `{{recipient.company}}`, `{{recipient.email}}`, `{{sender.first_name}}`, `{{sender.last_name}}`, and `{{sender.company}}`.","operationId":"create_sequence_template","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CreateSequenceTemplateRequest"}}},"required":true},"responses":{"201":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_SequenceTemplateDetailResponse_"}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/sequence-templates/{sequence_template_id}":{"get":{"tags":["Sequence Templates"],"summary":"Get a Sequence Template","description":"Gets a single sequence template by its `sequence_template_id`. The detail response includes the template's ordered list of steps.","operationId":"get_sequence_template","parameters":[{"name":"sequence_template_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Sequence Template Id"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_SequenceTemplateDetailResponse_"},"example":{"data":{"id":"seqt_abc123","name":"Enterprise Onboarding","description":"Multi-touch onboarding sequence for enterprise accounts","status":"active","owner_id":"usr_abc123","is_default":false,"created_at":"2026-01-15T10:30:00Z","updated_at":"2026-05-10T14:22:00Z","steps":[{"id":"stp_abc123","index":1,"title":"Intro email","day":0,"hour":9,"type":"auto_email","subject":"Quick question","message":"<p>Hi {{recipient.first_name}} [[block:abc-123]]</p>"},{"id":"stp_def456","index":2,"title":"LinkedIn follow up","day":2,"hour":10,"type":"auto_linkedin_message","message":"<p>Following up</p>"}],"blocks":{"abc-123":{"id":"abc-123","name":"Intro hook","block_type":"MANUAL","content":"Saw you launched X recently —","created_at":"2026-01-15T10:30:00Z","updated_at":"2026-05-10T14:22:00Z"}}},"meta":{"timestamp":"2026-05-11T17:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}},"404":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}},"description":"Not Found"}}},"patch":{"tags":["Sequence Templates"],"summary":"Update a Sequence Template","description":"Updates an existing sequence template. All fields are optional, but at least one must be provided. `steps`, `transitions`, and `blocks` replace the current value when supplied; each supplied step must include its `id`.\n\nSupply `steps` (ordered by `index`), `transitions`, and `blocks` together; see each field's schema for its shape and allowed values. A step references a block via a `[[block:<id>]]` marker in its `message`/`subject`, and a `transition` links steps by `index` sequentially or on a branch. Example:\n\n{\"steps\": [{\"index\": 1, \"day\": 0, \"hour\": 9, \"type\": \"auto_email\", \"subject\": \"Quick question\", \"message\": \"<p>Hi {{recipient.first_name}} [[block:intro]]</p>\"}, {\"index\": 2, \"day\": 2, \"hour\": 9, \"type\": \"auto_linkedin_connection\", \"message\": \"Let's connect\"}], \"transitions\": [{\"from_step_index\": 1, \"to_step_index\": 2, \"transition_type\": \"PREVIOUS_STEP_COMPLETES\"}], \"blocks\": {\"intro\": {\"name\": \"Intro\", \"block_type\": \"MANUAL\", \"content\": \"...\"}}}\n\nTemplate variables must be namespaced. Supported tokens are `{{recipient.first_name}}`, `{{recipient.last_name}}`, `{{recipient.company}}`, `{{recipient.email}}`, `{{sender.first_name}}`, `{{sender.last_name}}`, and `{{sender.company}}`.","operationId":"update_sequence_template","parameters":[{"name":"sequence_template_id","in":"path","required":true,"schema":{"type":"string","format":"uuid","title":"Sequence Template Id"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateSequenceTemplateRequest"}}}},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_SequenceTemplateDetailResponse_"}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/schemas/{entity}":{"get":{"tags":["Schemas"],"summary":"Get Field Schemas for an Entity","description":"Lists fields for `entity`, which must be one of `accounts`, `contacts`, `meetings`, `opportunities`, `sequences`, or `tasks`.\n\nUse each entry's `key` in `filters[].field` and `sort` on the corresponding list endpoint. The `allowed_operators` array lists the valid values for `filters[].condition` on that field.\n\nCustom fields use `custom_field_{uuid}` keys. Enum and select fields expose their accepted values under `enum_field_settings.allowed_values`, and callers must pass the `key` rather than the display value.\n\nFor `date` and `datetime` fields the `allowed_values` are semantic periods used with the `is` operator. The `equals`, `greater_than`, and `less_than` operators take raw `YYYY-MM-DD` values instead.","operationId":"get_field_schemas_for_entity","parameters":[{"name":"entity","in":"path","required":true,"schema":{"type":"string","title":"Entity"}}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_list_FieldSchemaResponse__"},"example":{"data":[{"name":"Name","key":"name","type":"string","filterable":true,"sortable":true,"allowed_operators":["contains","not_contains","is","is_not","is_empty","is_not_empty"]},{"name":"Status","key":"status","type":"enum","filterable":true,"sortable":true,"allowed_operators":["is","is_not","is_empty","is_not_empty"],"enum_field_settings":{"allowed_values":[{"key":"NEW","display_value":"New"},{"key":"PROSPECTING","display_value":"Prospecting"},{"key":"ENGAGED","display_value":"Engaged"},{"key":"CUSTOMER","display_value":"Customer"}]}},{"name":"Owner","key":"owner","type":"uuid","filterable":true,"sortable":false,"allowed_operators":["is","is_not","is_empty","is_not_empty"],"enum_field_settings":{"allowed_values":[{"key":"usr_abc123","display_value":"Jane Smith"},{"key":"usr_def456","display_value":"John Doe"}]}},{"name":"Employee Count","key":"employee_count","type":"number","parent":"company","filterable":true,"sortable":true,"allowed_operators":["equals","greater_than","less_than","is_empty","is_not_empty"]},{"name":"Last Funding Date","key":"last_funding_date","type":"date","parent":"company","filterable":true,"sortable":true,"allowed_operators":["is","equals","greater_than","less_than","is_empty","is_not_empty"],"enum_field_settings":{"allowed_values":[{"key":"previous_week","display_value":"Previous week"},{"key":"previous_month","display_value":"Previous month"},{"key":"previous_quarter","display_value":"Previous quarter"}]}},{"name":"Customer Fit","key":"custom_field_550e8400-e29b-41d4-a716-446655440001","type":"enum","filterable":true,"sortable":true,"allowed_operators":["is","is_not","is_empty","is_not_empty"],"custom_field_settings":{"id":"550e8400-e29b-41d4-a716-446655440001","is_ai_auto_filled":false},"enum_field_settings":{"allowed_values":[{"key":"high","display_value":"High"},{"key":"medium","display_value":"Medium"}]}}],"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/me":{"get":{"tags":["Auth"],"summary":"Get Authenticated User","description":"Returns the user and organization resolved from the bearer token.","operationId":"get_me","responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_MeResponse_"},"example":{"data":{"org_id":"org_abc123","user_id":"usr_abc123","user_email":"ada@example.com","user_first_name":"Ada","user_last_name":"Lovelace","org_name":"Example Inc."},"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}},"/v1/users/":{"get":{"tags":["Users"],"summary":"List Users","description":"Returns the users in the caller's organization. Pass the optional `query` parameter to filter by substring of name or email.","operationId":"list_users","parameters":[{"name":"query","in":"query","required":false,"schema":{"anyOf":[{"type":"string"},{"type":"null"}],"description":"Case-insensitive substring filter on name or email.","title":"Query"},"description":"Case-insensitive substring filter on name or email."}],"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicItemResponse_list_UserResponse__"},"example":{"data":[{"id":"550e8400-e29b-41d4-a716-446655440000","first_name":"Jane","last_name":"Smith","email":"jane@acme.com"}],"meta":{"timestamp":"2026-04-21T12:00:00Z"}}}}},"4XX":{"description":"Client error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicErrorResponse"}}}}}}}},"components":{"schemas":{"AccountListRequest":{"properties":{"filters":{"anyOf":[{"items":{"$ref":"#/components/schemas/FilterRule"},"type":"array"},{"$ref":"#/components/schemas/FilterExpression"}],"title":"Filters","description":"Filters to apply. Accepts either a flat list of filter rules, implicitly ANDed together, or a recursive filter expression with 'operator' and 'filters'. When an expression omits 'operator', it defaults to 'and'. Filter field names, their valid operators, and allowed values come from GET /v1/schemas/{entity} — each field lists 'allowed_operators' and 'enum_field_settings.allowed_values'. Custom fields are keyed 'custom_field_<uuid>'; related-entity custom fields use '<relation>.custom_field_<uuid>' and are filter-only.","examples":[[{"condition":"contains","field":"name","value":"Acme"},{"condition":"is","field":"status","value":"active"}],{"filters":[{"condition":"is","field":"status","value":"active"},{"filters":[{"condition":"contains","field":"name","value":"Acme"},{"condition":"greater_than","field":"created_at","value":"2026-01-01"}]}],"operator":"or"}]},"page":{"type":"integer","minimum":1.0,"title":"Page","description":"Page number (1-indexed)","default":1,"examples":[1]},"page_size":{"type":"integer","maximum":500.0,"minimum":1.0,"title":"Page Size","description":"Number of results per page","default":50,"examples":[25]},"sort":{"type":"string","title":"Sort","description":"Field to sort by. Prefix with '-' for descending order.","default":"-created_at","examples":["-created_at"]},"include_custom_fields":{"type":"boolean","title":"Include Custom Fields","description":"Whether to include custom fields (`custom_field_<uuid>` keys) on each returned account. Defaults to true. Set false to omit them for leaner responses; GET /v1/accounts/{account_id} always returns them.","default":true}},"type":"object","title":"AccountListRequest"},"AccountResponse":{"properties":{"id":{"type":"string","title":"Id","description":"Unique identifier for the account","examples":["acc_abc123"]},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name","description":"Name of the account","examples":["Acme Corp"]},"status":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Status","description":"Current status of the account","examples":["active"]},"owner":{"anyOf":[{"$ref":"#/components/schemas/OwnerInfo"},{"type":"null"}],"description":"User who owns the account"},"notes":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Notes","description":"Notes about the account","examples":["Key enterprise prospect"]},"company":{"anyOf":[{"$ref":"#/components/schemas/CompanyInfo"},{"type":"null"}],"description":"Company information associated with the account"},"scoring":{"anyOf":[{"$ref":"#/components/schemas/api__public_api__schemas__accounts__ScoringInfo"},{"type":"null"}],"description":"Account scoring information"},"tags":{"items":{"type":"string"},"type":"array","title":"Tags","description":"List of tag names associated with the account","examples":[["Enterprise","High Priority"]]},"created_at":{"type":"string","format":"date-time","title":"Created At","description":"Date and time the account was created","examples":["2025-06-15T10:30:00Z"]},"updated_at":{"type":"string","format":"date-time","title":"Updated At","description":"Date and time the account was last updated","examples":["2025-06-15T10:30:00Z"]}},"additionalProperties":true,"type":"object","required":["id","created_at","updated_at"],"title":"AccountResponse","description":"Account resource. Custom fields appear as additional keys prefixed with ``custom_field_``."},"AccountUpdateRequest":{"properties":{"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name","description":"Display name for the account","examples":["Acme Corp"]},"status":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Status","description":"Account status","examples":["PROSPECTING"]},"notes":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Notes","description":"Notes about the account"},"owner":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Owner","description":"User ID to assign as account owner"},"tags":{"anyOf":[{"items":{"type":"string","format":"uuid"},"type":"array"},{"type":"null"}],"title":"Tags","description":"List of tag IDs to associate with the account"}},"additionalProperties":true,"type":"object","title":"AccountUpdateRequest"},"AccountUpsertRequest":{"properties":{"domain":{"type":"string","title":"Domain","description":"Company domain for matching or creating the account","examples":["acme.com"]},"linkedin_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Linkedin Url","description":"LinkedIn company page URL for matching or creating the account","examples":["https://linkedin.com/company/acme"]},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name","description":"Display name for the account","examples":["Acme Corp"]},"status":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Status","description":"Account status","examples":["NEW"]},"notes":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Notes","description":"Notes about the account","examples":["Key enterprise prospect"]},"owner":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Owner","description":"User ID to assign as account owner"},"tags":{"anyOf":[{"items":{"type":"string","format":"uuid"},"type":"array"},{"type":"null"}],"title":"Tags","description":"List of tag IDs to associate with the account"}},"additionalProperties":true,"type":"object","required":["domain"],"title":"AccountUpsertRequest","description":"Request body for upserting an account.\n\nCustom fields can be passed as additional keys prefixed with ``custom_field_``."},"CampaignStatusEnum":{"type":"string","enum":["ACTIVE","INACTIVE","DRAFT","ARCHIVED"],"title":"CampaignStatusEnum"},"CompanyInfo":{"properties":{"domain":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Domain","description":"Primary website domain","examples":["acme.com"]},"linkedin_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Linkedin Url","description":"LinkedIn company page URL","examples":["https://linkedin.com/company/acme"]},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"Company description","examples":["Enterprise software company specializing in AI-driven sales tools"]},"employee_count":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Employee Count","description":"Number of employees","examples":[250]},"founded_year":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Founded Year","description":"Year the company was founded","examples":[2019]},"industries":{"items":{"type":"string"},"type":"array","title":"Industries","description":"List of industry classifications","examples":[["Software","Artificial Intelligence"]]},"total_funding_usd":{"anyOf":[{"type":"number"},{"type":"null"}],"title":"Total Funding Usd","description":"Total funding raised in USD","examples":[50000000.0]},"last_funding_date":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Last Funding Date","description":"Date of the most recent funding round","examples":["2024-03-15"]}},"type":"object","title":"CompanyInfo"},"ContactCreateRequest":{"properties":{"email":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Email","description":"Email address of the contact. Either email or linkedin_url is required.","examples":["jane@acme.com"]},"linkedin_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Linkedin Url","description":"LinkedIn profile URL. Either email or linkedin_url is required.","examples":["https://linkedin.com/in/janesmith"]},"first_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"First Name","description":"First name of the contact","examples":["Jane"]},"last_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Last Name","description":"Last name of the contact","examples":["Smith"]},"title":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Title","description":"Job title of the contact","examples":["VP of Engineering"]},"phone_number":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Phone Number","description":"Phone number of the contact","examples":["+1-555-123-4567"]},"location":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Location","description":"Location of the contact","examples":["San Francisco, CA"]},"account_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Account Id","description":"ID of the account to associate the contact with"},"domain":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Domain","description":"Domain of the contact's company (used for account resolution)","examples":["acme.com"]},"do_not_contact":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Do Not Contact","description":"Whether the contact has opted out of outreach"},"tags":{"anyOf":[{"items":{"type":"string","format":"uuid"},"type":"array"},{"type":"null"}],"title":"Tags","description":"List of tag IDs to associate with the contact"}},"additionalProperties":true,"type":"object","title":"ContactCreateRequest","description":"Request body for creating a contact via POST or upserting via PUT.\n\nCustom fields can be passed as additional keys prefixed with ``custom_field_``."},"ContactListRequest":{"properties":{"filters":{"anyOf":[{"items":{"$ref":"#/components/schemas/FilterRule"},"type":"array"},{"$ref":"#/components/schemas/FilterExpression"}],"title":"Filters","description":"Filters to apply. Accepts either a flat list of filter rules, implicitly ANDed together, or a recursive filter expression with 'operator' and 'filters'. When an expression omits 'operator', it defaults to 'and'. Filter field names, their valid operators, and allowed values come from GET /v1/schemas/{entity} — each field lists 'allowed_operators' and 'enum_field_settings.allowed_values'. Custom fields are keyed 'custom_field_<uuid>'; related-entity custom fields use '<relation>.custom_field_<uuid>' and are filter-only.","examples":[[{"condition":"contains","field":"name","value":"Acme"},{"condition":"is","field":"status","value":"active"}],{"filters":[{"condition":"is","field":"status","value":"active"},{"filters":[{"condition":"contains","field":"name","value":"Acme"},{"condition":"greater_than","field":"created_at","value":"2026-01-01"}]}],"operator":"or"}]},"page":{"type":"integer","minimum":1.0,"title":"Page","description":"Page number (1-indexed)","default":1,"examples":[1]},"page_size":{"type":"integer","maximum":500.0,"minimum":1.0,"title":"Page Size","description":"Number of results per page","default":50,"examples":[25]},"sort":{"type":"string","title":"Sort","description":"Field to sort by. Prefix with '-' for descending order.","default":"-created_at","examples":["-created_at"]},"include_custom_fields":{"type":"boolean","title":"Include Custom Fields","description":"Whether to include custom fields (`custom_field_<uuid>` keys) on each returned contact. Defaults to true. Set false to omit them for leaner responses; GET /v1/contacts/{contact_id} always returns them.","default":true}},"type":"object","title":"ContactListRequest"},"ContactResponse":{"properties":{"id":{"type":"string","title":"Id","description":"Unique identifier for the contact","examples":["con_abc123"]},"account_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Account Id","description":"ID of the associated account","examples":["acc_def456"]},"first_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"First Name","description":"First name of the contact","examples":["Jane"]},"last_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Last Name","description":"Last name of the contact","examples":["Smith"]},"email":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Email","description":"Email address of the contact","examples":["jane@acme.com"]},"title":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Title","description":"Job title of the contact","examples":["VP of Engineering"]},"phone_number":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Phone Number","description":"Phone number of the contact","examples":["+1-555-123-4567"]},"linkedin_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Linkedin Url","description":"LinkedIn profile URL","examples":["https://linkedin.com/in/janesmith"]},"location":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Location","description":"Location of the contact","examples":["San Francisco, CA"]},"source":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Source","description":"Source from which the contact was added","examples":["linkedin"]},"do_not_contact":{"type":"boolean","title":"Do Not Contact","description":"Whether the contact has opted out of outreach","default":false},"notes":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Notes","description":"Notes about the contact","examples":["Met at SaaStr 2025"]},"scoring":{"anyOf":[{"$ref":"#/components/schemas/api__public_api__schemas__contacts__ScoringInfo"},{"type":"null"}],"description":"Contact scoring information"},"tags":{"items":{"type":"string"},"type":"array","title":"Tags","description":"List of tag names associated with the contact","examples":[["Interested","Decision Maker"]]},"created_at":{"type":"string","format":"date-time","title":"Created At","description":"Date and time the contact was created","examples":["2025-06-15T10:30:00Z"]},"updated_at":{"type":"string","format":"date-time","title":"Updated At","description":"Date and time the contact was last updated","examples":["2025-06-15T10:30:00Z"]},"last_activity_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Last Activity At","description":"Date and time of the contact's most recent activity (inbound or outbound)","examples":["2025-06-15T10:30:00Z"]},"last_activity_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Last Activity Type","description":"Type of the contact's most recent activity","examples":["outbound_email"]},"last_outbound_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Last Outbound At","description":"Date and time of the most recent outbound interaction with the contact","examples":["2025-06-15T10:30:00Z"]},"last_outbound_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Last Outbound Type","description":"Type of the most recent outbound interaction with the contact","examples":["email"]},"last_inbound_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Last Inbound At","description":"Date and time of the most recent inbound interaction from the contact","examples":["2025-06-15T10:30:00Z"]},"last_inbound_type":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Last Inbound Type","description":"Type of the most recent inbound interaction from the contact","examples":["email"]}},"additionalProperties":true,"type":"object","required":["id","created_at","updated_at"],"title":"ContactResponse","description":"Contact resource. Custom fields appear as additional keys prefixed with ``custom_field_``."},"ContactUpdateRequest":{"properties":{"first_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"First Name","description":"First name of the contact","examples":["Jane"]},"last_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Last Name","description":"Last name of the contact","examples":["Smith"]},"email":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Email","description":"Email address of the contact","examples":["jane@acme.com"]},"title":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Title","description":"Job title of the contact","examples":["VP of Engineering"]},"phone_number":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Phone Number","description":"Phone number of the contact","examples":["+1-555-123-4567"]},"linkedin_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Linkedin Url","description":"LinkedIn profile URL","examples":["https://linkedin.com/in/janesmith"]},"location":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Location","description":"Location of the contact","examples":["San Francisco, CA"]},"notes":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Notes","description":"Notes about the contact","examples":["Met at SaaStr 2025"]},"do_not_contact":{"anyOf":[{"type":"boolean"},{"type":"null"}],"title":"Do Not Contact","description":"Whether the contact has opted out of outreach"},"tags":{"anyOf":[{"items":{"type":"string","format":"uuid"},"type":"array"},{"type":"null"}],"title":"Tags","description":"Tags for the contact"}},"additionalProperties":true,"type":"object","title":"ContactUpdateRequest","description":"Request body for updating a contact via PATCH."},"ContentBlockTypeEnum":{"type":"string","enum":["MANUAL","AI_GENERATED"],"title":"ContentBlockTypeEnum"},"CreateSequenceTemplateRequest":{"properties":{"name":{"type":"string","title":"Name","description":"Name of the sequence template","examples":["Enterprise Onboarding"]},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"Description of the sequence template","examples":["Multi-touch onboarding sequence for enterprise accounts"]},"steps":{"items":{"$ref":"#/components/schemas/SequenceTemplateStepRequest"},"type":"array","title":"Steps","description":"Ordered list of steps in the template"},"transitions":{"items":{"$ref":"#/components/schemas/SequenceTemplateTransitionRequest"},"type":"array","title":"Transitions","description":"Transitions between steps (ordering and branching rules). A transition that omits its lead-time delay defaults to 3 business days: on `post_check_delay` for accepted-branch transitions (LINKEDIN_REQUEST_ACCEPTED, GIFT_ACCEPTED), on `pre_check_delay` for all others. Pass an explicit 0 to evaluate immediately."},"blocks":{"additionalProperties":{"$ref":"#/components/schemas/SequenceTemplateBlockRequest"},"type":"object","title":"Blocks","description":"Content blocks referenced by this template, keyed by block id. A step's subject/message may contain [[block:<uuid>]] markers."}},"type":"object","required":["name","steps"],"title":"CreateSequenceTemplateRequest","description":"Request body for creating a sequence template."},"CustomFieldSettings":{"properties":{"id":{"type":"string","title":"Id","description":"Unique identifier of the custom field schema","examples":["cf_abc123"]},"is_ai_auto_filled":{"type":"boolean","title":"Is Ai Auto Filled","description":"Whether this custom field is automatically populated by AI","examples":[false]}},"type":"object","required":["id","is_ai_auto_filled"],"title":"CustomFieldSettings","description":"Settings present only for custom fields."},"DisplayColorEnum":{"type":"string","enum":["green","blue","red","yellow","purple","berry","peach","gray"],"title":"DisplayColorEnum"},"EmailRecipient":{"properties":{"name":{"type":"string","title":"Name","description":"Display name of the recipient","examples":["Jane Smith"]},"email":{"type":"string","title":"Email","description":"Email address of the recipient","examples":["jane@acme.com"]}},"type":"object","required":["name","email"],"title":"EmailRecipient"},"EnumFieldSettings":{"properties":{"allowed_values":{"items":{"$ref":"#/components/schemas/EnumValueOption"},"type":"array","title":"Allowed Values","description":"The list of valid values that can be used in filters","examples":[[{"display_value":"Active","key":"active"}]]}},"type":"object","required":["allowed_values"],"title":"EnumFieldSettings","description":"Settings present only for enum/select fields."},"EnumValueOption":{"properties":{"key":{"type":"string","title":"Key","description":"The value to use in filter rules","examples":["usr_abc123"]},"display_value":{"type":"string","title":"Display Value","description":"Human-readable label for the value","examples":["Jane Smith"]}},"type":"object","required":["key","display_value"],"title":"EnumValueOption","description":"A single allowed value for an enum field."},"ErrorDetail":{"properties":{"code":{"type":"string","title":"Code","description":"Machine-readable error code","examples":["not_found"]},"message":{"type":"string","title":"Message","description":"Human-readable error message","examples":["Resource not found"]}},"type":"object","required":["code","message"],"title":"ErrorDetail"},"EstimatedValue":{"properties":{"currency_code":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Currency Code","description":"ISO 4217 currency code","examples":["USD"]},"amount":{"anyOf":[{"type":"integer"},{"type":"null"}],"title":"Amount","description":"Value in minor currency units (e.g. cents)","examples":[5000000]}},"type":"object","title":"EstimatedValue"},"FieldSchemaResponse":{"properties":{"name":{"type":"string","title":"Name","description":"Display name of the field","examples":["Account Status"]},"key":{"type":"string","title":"Key","description":"Internal key used for filtering and sorting","examples":["status"]},"type":{"type":"string","enum":["string","number","time","boolean","enum","array","date","datetime","text","uuid","object"],"title":"Type","description":"Data type of the field","examples":["enum"]},"parent":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Parent","description":"The key of the parent object field this field belongs to. For example, 'employee_count' has parent 'company'. Top-level fields have no parent.","examples":["company"]},"filterable":{"type":"boolean","title":"Filterable","description":"Whether this field can be used in filter rules on list endpoints","examples":[true]},"sortable":{"type":"boolean","title":"Sortable","description":"Whether this field can be used for sorting on list endpoints","examples":[true]},"allowed_operators":{"items":{"type":"string"},"type":"array","title":"Allowed Operators","description":"Operators that can be used to filter this field","examples":[["is","is_not","is_empty","is_not_empty"]]},"custom_field_settings":{"anyOf":[{"$ref":"#/components/schemas/CustomFieldSettings"},{"type":"null"}],"description":"Settings for custom fields. Only present if this is a custom field."},"enum_field_settings":{"anyOf":[{"$ref":"#/components/schemas/EnumFieldSettings"},{"type":"null"}],"description":"Settings for enum/select fields. Only present if this field has enum values. For date and datetime fields, these are semantic period values (e.g. 'previous_week') used with the 'is' operator. Other operators like 'equals' and 'greater_than' accept actual date values (YYYY-MM-DD) instead."}},"type":"object","required":["name","key","type","filterable","sortable","allowed_operators"],"title":"FieldSchemaResponse"},"FilterExpression":{"properties":{"operator":{"$ref":"#/components/schemas/LogicalOperatorEnum","default":"and"},"filters":{"items":{"anyOf":[{"$ref":"#/components/schemas/FilterRule"},{"$ref":"#/components/schemas/FilterExpression"}]},"type":"array","title":"Filters","default":[]}},"type":"object","title":"FilterExpression","description":"A filter expression with an explicit operator.\n\nContains filters that can be either FilterRule objects (leaf nodes) or\nnested FilterExpression objects (branch nodes), allowing for arbitrarily\nnested filter structures."},"FilterRule":{"properties":{"field":{"type":"string","title":"Field"},"condition":{"type":"string","title":"Condition"},"value":{"anyOf":[{},{"type":"null"}],"title":"Value"}},"type":"object","required":["field","condition"],"title":"FilterRule"},"LogicalOperatorEnum":{"type":"string","enum":["and","or"],"title":"LogicalOperatorEnum","description":"Logical operators to combine filters or filter expressions."},"MeResponse":{"properties":{"org_id":{"type":"string","title":"Org Id","description":"Authenticated organization ID"},"user_id":{"type":"string","title":"User Id","description":"Authenticated user ID"},"user_email":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"User Email","description":"Authenticated user email"},"user_first_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"User First Name","description":"Authenticated user first name"},"user_last_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"User Last Name","description":"Authenticated user last name"},"org_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Org Name","description":"Authenticated organization name"}},"type":"object","required":["org_id","user_id"],"title":"MeResponse"},"MeetingAttendeeInfo":{"properties":{"email":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Email","description":"Email address of the attendee","examples":["john@acme.com"]},"display_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Display Name","description":"Display name of the attendee","examples":["John Doe"]},"response_status":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Response Status","description":"RSVP response status","examples":["accepted"]}},"type":"object","title":"MeetingAttendeeInfo"},"MeetingDetailResponse":{"properties":{"id":{"type":"string","title":"Id","description":"Unique identifier for the meeting","examples":["mtg_abc123"]},"account_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Account Id","description":"ID of the associated account","examples":["acc_abc123"]},"opportunity_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Opportunity Id","description":"ID of the associated opportunity","examples":["opp_abc123"]},"title":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Title","description":"Meeting title from calendar event","examples":["Discovery Call"]},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"Meeting description","examples":["Initial discovery call with Acme"]},"start_time":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Start Time","description":"Meeting start time (ISO 8601)","examples":["2026-03-01T10:00:00Z"]},"end_time":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"End Time","description":"Meeting end time (ISO 8601)","examples":["2026-03-01T10:30:00Z"]},"occurred_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Occurred At","description":"When the meeting actually occurred: recording start time of the completed conversation (ISO 8601). Null for meetings that were never recorded, including future and declined calendar events.","examples":["2026-03-01T10:02:14Z"]},"meeting_platform":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Meeting Platform","description":"Video conferencing platform","examples":["Zoom"]},"meeting_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Meeting Url","description":"URL to join the meeting"},"organizer":{"anyOf":[{"$ref":"#/components/schemas/MeetingOrganizerInfo"},{"type":"null"}],"description":"Meeting organizer"},"attendees":{"items":{"$ref":"#/components/schemas/MeetingAttendeeInfo"},"type":"array","title":"Attendees","description":"List of meeting attendees"},"next_actions":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Next Actions","description":"AI-generated action items from the meeting"},"created_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Created At","description":"When the meeting was created in Monaco","examples":["2026-03-01T09:00:00Z"]},"updated_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Updated At","description":"When the meeting was last updated in Monaco","examples":["2026-03-01T09:30:00Z"]},"meeting_summary":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Meeting Summary","description":"AI-generated meeting summary"},"video_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Video Url","description":"Presigned URL to the meeting recording video"},"transcript":{"anyOf":[{"items":{"$ref":"#/components/schemas/TranscriptSegment"},"type":"array"},{"type":"null"}],"title":"Transcript","description":"Meeting transcript segments with speaker attribution"}},"additionalProperties":true,"type":"object","required":["id"],"title":"MeetingDetailResponse"},"MeetingOrganizerInfo":{"properties":{"email":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Email","description":"Email address of the organizer","examples":["jane@acme.com"]},"display_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Display Name","description":"Display name of the organizer","examples":["Jane Smith"]}},"type":"object","title":"MeetingOrganizerInfo"},"MeetingResponse":{"properties":{"id":{"type":"string","title":"Id","description":"Unique identifier for the meeting","examples":["mtg_abc123"]},"account_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Account Id","description":"ID of the associated account","examples":["acc_abc123"]},"opportunity_id":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Opportunity Id","description":"ID of the associated opportunity","examples":["opp_abc123"]},"title":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Title","description":"Meeting title from calendar event","examples":["Discovery Call"]},"description":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Description","description":"Meeting description","examples":["Initial discovery call with Acme"]},"start_time":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Start Time","description":"Meeting start time (ISO 8601)","examples":["2026-03-01T10:00:00Z"]},"end_time":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"End Time","description":"Meeting end time (ISO 8601)","examples":["2026-03-01T10:30:00Z"]},"occurred_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Occurred At","description":"When the meeting actually occurred: recording start time of the completed conversation (ISO 8601). Null for meetings that were never recorded, including future and declined calendar events.","examples":["2026-03-01T10:02:14Z"]},"meeting_platform":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Meeting Platform","description":"Video conferencing platform","examples":["Zoom"]},"meeting_url":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Meeting Url","description":"URL to join the meeting"},"organizer":{"anyOf":[{"$ref":"#/components/schemas/MeetingOrganizerInfo"},{"type":"null"}],"description":"Meeting organizer"},"attendees":{"items":{"$ref":"#/components/schemas/MeetingAttendeeInfo"},"type":"array","title":"Attendees","description":"List of meeting attendees"},"next_actions":{"anyOf":[{"items":{"type":"string"},"type":"array"},{"type":"null"}],"title":"Next Actions","description":"AI-generated action items from the meeting"},"created_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Created At","description":"When the meeting was created in Monaco","examples":["2026-03-01T09:00:00Z"]},"updated_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Updated At","description":"When the meeting was last updated in Monaco","examples":["2026-03-01T09:30:00Z"]}},"additionalProperties":true,"type":"object","required":["id"],"title":"MeetingResponse"},"MessageDraft":{"properties":{"recipients":{"items":{"$ref":"#/components/schemas/EmailRecipient"},"type":"array","title":"Recipients","description":"Primary recipients (To) of the email"},"cc":{"anyOf":[{"items":{"$ref":"#/components/schemas/EmailRecipient"},"type":"array"},{"type":"null"}],"title":"Cc","description":"Carbon-copy recipients of the email"},"subject":{"type":"string","title":"Subject","description":"Subject line of the email","examples":["Pricing follow-up"]},"body":{"type":"string","title":"Body","description":"Body of the email (plain text or HTML)","examples":["Hi Jane, following up on the proposal we discussed..."]},"sent_at":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Sent At","description":"ISO timestamp the email was sent (read-only; ignored on write)."}},"type":"object","required":["recipients","subject","body"],"title":"MessageDraft","description":"Draft message contents stored on a task with `task_type=EMAIL`."},"OpportunityCreateRequest":{"properties":{"name":{"type":"string","title":"Name","description":"Name of the opportunity","examples":["Acme Corp - Enterprise License"]},"account_id":{"type":"string","format":"uuid","title":"Account Id","description":"ID of the account to associate the opportunity with"},"owner_user_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Owner User Id","description":"User ID to assign as opportunity owner"},"stage":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Stage","description":"Pipeline stage key for the opportunity","examples":["negotiation"]},"estimated_value":{"anyOf":[{"$ref":"#/components/schemas/EstimatedValue"},{"type":"null"}],"description":"Estimated monetary value of the opportunity"},"estimated_close_date":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Estimated Close Date","description":"Expected close date (YYYY-MM-DD)","examples":["2025-09-30"]},"notes":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Notes","description":"Notes about the opportunity","examples":["Follow up after Q3 board meeting"]},"tags":{"anyOf":[{"items":{"type":"string","format":"uuid"},"type":"array"},{"type":"null"}],"title":"Tags","description":"List of tag IDs to associate with the opportunity"},"idempotency_key":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Idempotency Key","description":"Client-provided idempotency key to prevent duplicate creation"}},"additionalProperties":true,"type":"object","required":["name","account_id"],"title":"OpportunityCreateRequest","description":"Request body for creating an opportunity via POST."},"OpportunityListRequest":{"properties":{"filters":{"anyOf":[{"items":{"$ref":"#/components/schemas/FilterRule"},"type":"array"},{"$ref":"#/components/schemas/FilterExpression"}],"title":"Filters","description":"Filters to apply. Accepts either a flat list of filter rules, implicitly ANDed together, or a recursive filter expression with 'operator' and 'filters'. When an expression omits 'operator', it defaults to 'and'. Filter field names, their valid operators, and allowed values come from GET /v1/schemas/{entity} — each field lists 'allowed_operators' and 'enum_field_settings.allowed_values'. Custom fields are keyed 'custom_field_<uuid>'; related-entity custom fields use '<relation>.custom_field_<uuid>' and are filter-only.","examples":[[{"condition":"contains","field":"name","value":"Acme"},{"condition":"is","field":"status","value":"active"}],{"filters":[{"condition":"is","field":"status","value":"active"},{"filters":[{"condition":"contains","field":"name","value":"Acme"},{"condition":"greater_than","field":"created_at","value":"2026-01-01"}]}],"operator":"or"}]},"page":{"type":"integer","minimum":1.0,"title":"Page","description":"Page number (1-indexed)","default":1,"examples":[1]},"page_size":{"type":"integer","maximum":500.0,"minimum":1.0,"title":"Page Size","description":"Number of results per page","default":50,"examples":[25]},"sort":{"type":"string","title":"Sort","description":"Field to sort by. Prefix with '-' for descending order.","default":"-created_at","examples":["-created_at"]},"include_custom_fields":{"type":"boolean","title":"Include Custom Fields","description":"Whether to include custom fields (`custom_field_<uuid>` keys) on each returned opportunity. Defaults to true. Set false to omit them for leaner responses; GET /v1/opportunities/{opportunity_id} always returns them.","default":true}},"type":"object","title":"OpportunityListRequest"},"OpportunityResponse":{"properties":{"id":{"type":"string","title":"Id","description":"Unique identifier for the opportunity","examples":["opp_abc123"]},"account_id":{"type":"string","title":"Account Id","description":"ID of the associated account","examples":["acc_def456"]},"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name","description":"Name of the opportunity","examples":["Acme Corp - Enterprise License"]},"owner":{"anyOf":[{"$ref":"#/components/schemas/OwnerInfo"},{"type":"null"}],"description":"User who owns the opportunity"},"stage":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Stage","description":"Current pipeline stage of the opportunity","examples":["negotiation"]},"estimated_value":{"anyOf":[{"$ref":"#/components/schemas/EstimatedValue"},{"type":"null"}],"description":"Estimated monetary value of the opportunity"},"estimated_close_date":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Estimated Close Date","description":"Expected close date for the opportunity","examples":["2025-09-30"]},"actual_close_date":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Actual Close Date","description":"Actual date the opportunity was closed","examples":["2025-10-15"]},"summary":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Summary","description":"AI-generated summary of the opportunity","examples":["Enterprise deal with strong champion. Procurement review in progress."]},"risks":{"items":{"type":"string"},"type":"array","title":"Risks","description":"Identified risks for the opportunity","examples":[["Budget constraints","Competing vendor evaluation"]]},"notes":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Notes","description":"Notes about the opportunity","examples":["Follow up after Q3 board meeting"]},"tags":{"items":{"type":"string"},"type":"array","title":"Tags","description":"List of tag names associated with the opportunity","examples":[["High Priority"]]},"last_activity_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Last Activity At","description":"Date and time of the last activity on the opportunity","examples":["2025-08-20T14:30:00Z"]},"updated_at":{"anyOf":[{"type":"string","format":"date-time"},{"type":"null"}],"title":"Updated At","description":"Date and time the opportunity record was last updated","examples":["2025-08-21T14:30:00Z"]},"created_at":{"type":"string","format":"date-time","title":"Created At","description":"Date and time the opportunity was created","examples":["2025-06-01T09:00:00Z"]}},"additionalProperties":true,"type":"object","required":["id","account_id","created_at"],"title":"OpportunityResponse","description":"Opportunity resource.\n\nCustom fields appear as additional keys prefixed with ``custom_field_``."},"OpportunityUpdateRequest":{"properties":{"name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Name","description":"Name of the opportunity","examples":["Acme Corp - Enterprise License"]},"owner_user_id":{"anyOf":[{"type":"string","format":"uuid"},{"type":"null"}],"title":"Owner User Id","description":"User ID to assign as opportunity owner"},"stage":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Stage","description":"Pipeline stage key for the opportunity","examples":["negotiation"]},"estimated_value":{"anyOf":[{"$ref":"#/components/schemas/EstimatedValue"},{"type":"null"}],"description":"Estimated monetary value of the opportunity"},"estimated_close_date":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Estimated Close Date","description":"Expected close date (YYYY-MM-DD)","examples":["2025-09-30"]},"actual_close_date":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Actual Close Date","description":"Actual date the opportunity was closed (YYYY-MM-DD)","examples":["2025-10-15"]},"notes":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Notes","description":"Notes about the opportunity","examples":["Follow up after Q3 board meeting"]},"tags":{"anyOf":[{"items":{"type":"string","format":"uuid"},"type":"array"},{"type":"null"}],"title":"Tags","description":"List of tag IDs to associate with the opportunity"}},"additionalProperties":true,"type":"object","title":"OpportunityUpdateRequest","description":"Request body for updating an opportunity via PATCH."},"OwnerInfo":{"properties":{"id":{"type":"string","title":"Id","description":"Unique identifier of the user","examples":["usr_abc123"]},"first_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"First Name","description":"First name of the user","examples":["Jane"]},"last_name":{"anyOf":[{"type":"string"},{"type":"null"}],"title":"Last Name","description":"Last name of the user","examples":["Smith"]}},"type":"object","required":["id"],"title":"OwnerInfo"},"PaginationInfo":{"properties":{"page":{"type":"integer","title":"Page","description":"Current page number","examples":[1]},"page_size":{"type":"integer","title":"Page Size","description":"Number of results per page","examples":[25]},"total_count":{"type":"integer","title":"Total Count","description":"Total number of matching records","examples":[142]},"total_pages":{"type":"integer","title":"Total Pages","description":"Total number of pages","examples":[6]}},"type":"object","required":["page","page_size","total_count","total_pages"],"title":"PaginationInfo"},"PublicErrorResponse":{"properties":{"error":{"$ref":"#/components/schemas/ErrorDetail"}},"type":"object","required":["error"],"title":"PublicErrorResponse"},"PublicItemResponse_AccountResponse_":{"properties":{"data":{"$ref":"#/components/schemas/AccountResponse"},"meta":{"$ref":"#/components/schemas/ResponseMeta"}},"type":"object","required":["data"],"title":"PublicItemResponse[AccountResponse]"},"PublicItemResponse_ContactResponse_":{"properties":{"data":{"$ref":"#/components/schemas/ContactResponse"},"meta":{"$ref":"#/components/schemas/ResponseMeta"}},"type":"object","required":["data"],"title":"PublicItemResponse[ContactResponse]"},"PublicItemResponse_MeResponse_":{"properties":{"data":{"$ref":"#/components/schemas/MeResponse"},"meta":{"$ref":"#/components/schemas/ResponseMeta"}},"type":"object","required":["data"],"title":"PublicItemResponse[MeResponse]"},"PublicItemResponse_MeetingDetailResponse_":{"properties":{"data":{"$ref":"#/components/schemas/MeetingDetailResponse"},"meta":{"$ref":"#/components/schemas/ResponseMeta"}},"type":"object","required":["data"],"title":"PublicItemResponse[MeetingDetailResponse]"},"PublicItemResponse_OpportunityResponse_":{"properties":{"data":{"$ref":"#/components/schemas/OpportunityResponse"},"meta":{"$ref":"#/components/schemas/ResponseMeta"}},"type":"object","required":["data"],"title":"PublicItemResponse[OpportunityResponse]"},"PublicItemResponse_SequenceDetailResponse_":{"properties":{"data":{"$ref":"#/components/schemas/SequenceDetailResponse"},"meta":{"$ref":"#/components/schemas/ResponseMeta"}},"type":"object","required":["data"],"title":"PublicItemResponse[SequenceDetailResponse]"},"PublicItemResponse_SequenceTemplateDetailResponse_":{"properties":{"data":{"$ref":"#/components/schemas/SequenceTemplateDetailResponse"},"meta":{"$ref":"#/components/schemas/ResponseMeta"}},"type":"object","required":["data"],"title":"PublicItemResponse[SequenceTemplateDetailResponse]"},"PublicItemResponse_TagResponse_":{"properties":{"data":{"$ref":"#/components/schemas/TagResponse"},"meta":{"$ref":"#/components/schemas/ResponseMeta"}},"type":"object","required":["data"],"title":"PublicItemResponse[TagResponse]"},"PublicItemResponse_TaskResponse_":{"properties":{"data":{"$ref":"#/components/schemas/TaskResponse"},"meta":{"$ref":"#/components/schemas/ResponseMeta"}},"type":"object","required":["data"],"title":"PublicItemResponse[TaskResponse]"},"PublicItemResponse_list_FieldSchemaResponse__":{"properties":{"data":{"items":{"$ref":"#/components/schemas/FieldSchemaResponse"},"type":"array","title":"Data"},"meta":{"$ref":"#/components/schemas/ResponseMeta"}},"type":"object","required":["data"],"title":"PublicItemResponse[list[FieldSchemaResponse]]"},"PublicItemResponse_list_SequenceTemplateResponse__":{"properties":{"data":{"items":{"$ref":"#/components/schemas/SequenceTemplateResponse"},"type":"array","title":"Data"},"meta":{"$ref":"#/components/schemas/ResponseMeta"}},"type":"object","required":["data"],"title":"PublicItemResponse[list[SequenceTemplateResponse]]"},"PublicItemResponse_list_TagResponse__":{"properties":{"data":{"items":{"$ref":"#/components/schemas/TagResponse"},"type":"array","title":"Data"},"meta":{"$ref":"#/components/schemas/ResponseMeta"}},"type":"object","required":["data"],"title":"PublicItemResponse[list[TagResponse]]"},"PublicItemResponse_list_UserResponse__":{"properties":{"data":{"items":{"$ref":"#/components/schemas/UserResponse"},"type":"array","title":"Data"},"meta":{"$ref":"#/components/schemas/ResponseMeta"}},"type":"object","required":["data"],"title":"PublicItemResponse[list[UserResponse]]"},"PublicListRequest":{"properties":{"filters":{"anyOf":[{"items":{"$ref":"#/components/schemas/FilterRule"},"type":"array"},{"$ref":"#/components/schemas/FilterExpression"}],"title":"Filters","description":"Filters to apply. Accepts either a flat list of filter rules, implicitly ANDed together, or a recursive filter expression with 'operator' and 'filters'. When an expression omits 'operator', it defaults to 'and'. Filter field names, their valid operators, and allowed values come from GET /v1/schemas/{entity} — each field lists 'allowed_operators' and 'enum_field_settings.allowed_values'. Custom fields are keyed 'custom_field_<uuid>'; related-entity custom fields use '<relation>.custom_field_<uuid>' and are filter-only.","examples":[[{"condition":"contains","field":"name","value":"Acme"},{"condition":"is","field":"status","value":"active"}],{"filters":[{"condition":"is","field":"status","value":"active"},{"filters":[{"condition":"contains","field":"name","value":"Acme"},{"condition":"greater_than","field":"created_at","value":"2026-01-01"}]}],"operator":"or"}]},"page":{"type":"integer","minimum":1.0,"title":"Page","description":"Page number (1-indexed)","default":1,"examples":[1]},"page_size":{"type":"integer","maximum":500.0,"minimum":1.0,"title":"Page Size","description":"Number of results per page","default":50,"examples":[25]},"sort":{"type":"string","title":"Sort","description":"Field to sort by. Prefix with '-' for descending order.","default":"-created_at","examples":["-created_at"]}},"type":"object","title":"PublicListRequest"},"PublicListResponse_AccountResponse_":{"properties":{"data":{"items":{"$ref":"#/components/schemas/AccountResponse"},"type":"array","title":"Data"},"pagination":{"$ref":"#/components/schemas/PaginationInfo"},"meta":{"$ref":"#/components/schemas/ResponseMeta"}},"type":"object","required":["data","pagination"],"title":"PublicListResponse[AccountResponse]"},"PublicListResponse_ContactResponse_":{"properties":{"data":{"items":{"$ref":"#/components/schemas/ContactResponse"},"type":"array","title":"Data"},"pagination":{"$ref":"#/components/schemas/PaginationInfo"},"meta":{"$ref":"#/components/schemas/ResponseMeta"}},"type":"object","required":["data","pagination"],"title":"PublicListResponse[ContactResponse]"},"PublicListResponse_MeetingResponse_":{"properties":{"data":{"items":{"$ref":"#/components/schemas/MeetingResponse"},"type":"array","title":"Data"},"pagination":{"$ref":"#/components/schemas/PaginationInfo"},"meta":{"$ref":"#/components/schemas/ResponseMeta"}},"type":"object","required":["data","pagination"],"title":"PublicListResponse[MeetingResponse]"},"PublicListResponse_OpportunityResponse_":{"propertie
[...]
